#user-pic {
  width: 50%;
  /* border-radius: 50%; */
}

#profileName{
  font-family: 'Lobster', cursive;
}
#skill-block {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  padding: 5px;
  margin-right: 5px;
  border-bottom: 3px solid #222;
  background-color: #73587A;
  border-radius: 5px;
  color: #ddd;
  margin-bottom: 5px;
}

.job-card {
  width: 18rem;
}

#profile-jumbotron {
  margin-top: 120px;
}
/* pastel blue: #D7EBFA */