#user-pic {
  width: 50%;
  /* border-radius: 50%; */
}

#profileName{
  font-family: 'Lobster', cursive;
  float: left;
}
#skill-block {
  display: flex;
  flex-wrap: wrap;
}
#skill-card{
  margin-bottom: 20px;
}

.skill {
  padding: 5px;
  margin-right: 5px;
  border-bottom: 3px solid #222;
  background-color: #73587A;
  border-radius: 5px;
  color: #ddd;
  margin-bottom: 5px;
}

.job-card {
  width: 18rem;
}

#profile-jumbotron {
  margin-top: 100px;
  margin-right: 213px;
  margin-left: -50px;
}
@media only screen and (max-width: 600px){
  #profile-jumbotron {
    margin-top: 100px;
    margin-right: 0px;
    margin-left: 0px;
  }
  #profileName{
    margin-left:90px;
  }
  
}

/* pastel blue: #D7EBFA */