.navbar-brand{
  font-family: Yellowtail;
}

.cap-brand {
  font-size: 3rem;
  color: #4a4a4a;
  text-decoration: underline;
}

.small-cap-brand {
  font-size: 1.5rem;
  color: #4a4a4a;

}

.form-control:focus{
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
  border-color: #fdf9ba;
}