#fixedFooter{
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 39px -18px rgba(0,0,0,0.75);

    /* background-color: rgba(51, 102, 153, 1); */
    /* background-color: rgb(167, 166, 166); */
    background-color: rgb(214, 235, 249);
}

.fab{
    font-size: 1.5rem;
    padding-top: 10px;
    transition-duration: 250ms;
    transition-timing-function: ease-in;

}

.fab:hover {
    color: #c094cc;
    transition-duration: 250ms;
    transition-timing-function: ease-in;
}

.fa-twitter, .fa-instagram {
    margin-right: 1rem;
}