.jumbotron {
  background-color: rgba(79,79,77, 0.6);
}
/* 
.form-control {
  background-color: rgba(253,	249,	186, .9)
  background-color: rgba(226, 240,	213, 0.7);
} */

.btn-primary:focus{
  background-color: #3a3a38;
  box-shadow: none;
  border-color: #4f4f4d !important;

} 

/* input:focus:required:invalid {
  background-color: rgba(139,0,0,.7);
  color: #fff; 
} */

.btn-primary:active:focus{
  background-color:#3a3a38 !important;
  box-shadow: none !important;
  border-color: #4f4f4d !important;
}

.btn-primary:hover{
  background-color: #fdf9ba;
  color: #4f4f4d;
  border-color: #4f4f4d;
}

.btn-primary{
  background-color: #4f4f4d;
  color: #fdf9ba;
  border-color: #fdf9ba;
  border-radius: 1px;

}
