#fixedNavbar{
  position: fixed;
  width: 100%;
  top:-30px;
  z-index: 99;
  box-shadow: 0px -2px 39px -18px rgba(0,0,0,0.75);

}
.navbar-brand{
  font-family: 'Lobster', cursive;
  font-weight: bold;
  margin-left: 25px;
  /* padding: 0; */
  padding-top: 30px;
  height: 95px;
  /* position: fixed; */
}
.notLanding{
  background-color: rgb(214, 235, 249);
  padding: 0px;
  margin: 0px;
}
.cap-brand {
  font-size: 2.5rem;
  color: rgba(18, 17, 17, 0.831);
  letter-spacing: -3px;
}
.kill{
  /* letter-spacing: -3px; */
}
.w{
  letter-spacing: -5px;
}

.small-cap-brand {
  font-size: 1.5rem;
  color: rgba(18, 17, 17, 0.831);
}
@media only screen and (max-width: 600px){
  .cap-brand {
    font-size: 2.5rem;
    letter-spacing: -3px;
  }
  .w{
    letter-spacing: -20px;
  }
  .small-cap-brand {
   color: transparent;
   font-size: 0;
  }
  #dropDownMedia{
    
  }
}
